<%- include('_header.html') %>

<div class="container">
  <h1>Nodepop MarketPlace</h1>

  <p>
    Homepage of the app. From here you can navigate to the main sections of the
    application. The products section allows you to view and manage your products. Also,
    you can create new products to add to your collection clicking the button below.
  </p>
  <nav class="nav nav-pills nav-fill" style="max-width: 600px; margin: 4rem auto">
    <a class="nav-link active me-3" href="/products">View Products</a>
    <a class="nav-link active" href="/createProduct">Create a new Product</a>
  </nav>
</div>

<%- include('_footer.html') %>
