<%- include('_header.html') %>

<div class="container">
  <div class="login-container">
    <h1>Log In</h1>

    <form method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          name="email"
          value="<%= email %>"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="exampleInputPassword1"
        />
      </div>

      <button type="submit" class="btn btn-primary">Log in</button>

      <% if(errors.length > 0) { %>
      <div class="alert alert-danger" role="alert"><%= errors %></div>
      <% } %>
    </form>
  </div>
</div>
